<div>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit()">
      <div>
        <label for="username">Username</label>
        <input class="input-box" type="text" id="username" formControlName="userName">
        <div *ngIf="formdata.controls['userName'].invalid && formdata.controls['userName'].touched" class="error">
          Username is required and must be at least 3 characters long.
        </div>
      </div>
  
      <div>
        <label for="email">Email</label>
        <input class="input-box" type="email" id="email" formControlName="email">
        <div *ngIf="formdata.controls['email'].invalid && formdata.controls['email'].touched" class="error">
          Email is required and must be a valid email address.
        </div>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input class="input-box" type="password" id="password" formControlName="password">
        <div *ngIf="formdata.controls['password'].invalid && formdata.controls['password'].touched" class="error">
          Password is required and must be at least 6 characters long.
        </div>
      </div>
  
      <div>
        <label for="age">Age</label>
        <input class="input-box" type="number" id="age" formControlName="age">
        <div *ngIf="formdata.controls['age'].invalid && formdata.controls['age'].touched" class="error">
          Age is required and must be at least 1.
        </div>
      </div>
  
      <input class="btn" type="submit" value="Click here" [disabled]="formdata.invalid">
    </form>
  </div>
  
  <p *ngIf="formdata.valid">
    You have entered:<br>
    Username: {{formdata.value.userName}}<br>
    Email: {{formdata.value.email}}<br>
    Password: {{formdata.value.password}}<br>
    Age: {{formdata.value.age}}
  </p>